* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
button {
  width: 35px;
  height: 35px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(35 * 9);
}
